{% load static %}
<div class="container card p-4 my-5" style="background-color: rgba(255,255,255,.7);">
	<form class="d-flex justify-content-between" style="flex-wrap:wrap;" method="POST" action={% url 'frontend:account_personalization' %}>
		{% csrf_token %}

		{% for category in categories %}
			<div class="form-check">
				<input type="checkbox" id="{{forloop.counter}}" class="form-check-input" name="categories" value={{category.category_id}}
				{% if category.category_id in personal_categories %} checked {% endif %}>
				<label for="{{forloop.counter}}" class="form-check-label">{{category.category_name}}</label>
			</div>
				
		{% endfor %}

		<button type="submit" name="Submit" class="btn btn-primary">Save changes</button>
	</form>
</div>