{% load static %}
<div id="header" class="container-header" data-aos='fade-down'>
	<ul class="navbar-nav d-flex flex-row justify-content-between">
		<li class="nav-item"><a class="nav-link" href="{% url 'frontend:index' %}">Home</a></li>
		{% if user.is_authenticated %}
			<li class="nav-item dropdown">
	          	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            	<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
						<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
					</svg>
	          	</a>
	          	<ul class="dropdown-menu">
					{% if request.user.is_admin %}
						<li class="nav-item"><a class="dropdown-item" href="/admin">Admin Panels</a></li>
					{% endif %}
	            	<li class="nav-item"><a class="dropdown-item" href="{% url 'frontend:account_settings' %}">View Profile</a></li>
	            	<li class="nav-item"><a class="dropdown-item" href="{% url 'frontend:account_logout' %}">Logout</a></li>
	          	</ul>
	        </li>
		{% else %}
			<li class="nav-item"><a class="nav-link" href="{% url 'frontend:account_login' %}">Login</a></li>
		{% endif %}
	</ul>
</div>

<div class="top-section">
	<a href="#header">
		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#2C3333" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
		</svg>
	</a>
</div>