{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Password Reset Confirmation{% endblock %}
{% block content %}
	<div class="container text-dark my-5 py-5">
		<h1 class="fw-bold">Change Password</h1>
		{% if validlink %}
			<form method="POST" class="form login">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="submit" class="btn btn-primary">
			</form>
		{% else %}
			<p>The password reset link has been disabled for security reasons.</p>
		{% endif %}
	</div>
{% endblock %}