{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
	<div class="container text-dark my-5 py-5" data-aos='fade-up'>
		<h1 class="fw-bold">Reset Password</h1>
		<p>Input the email to receive a password reset confirmation email</p>

		<form method="POST" class="form login">
			{% csrf_token %}
			<div class="form__field">
                {{ form.as_p }}
            </div>
			<input type="submit" class="btn btn-primary" value="Submit">
		</form>
	</div>
{% endblock %}